.navbar
    {
        background-color: black;
    }   
.nav-link 
    {
        color: #ffffff;  /* Cor da fonte branca */
    }
.navbar-brand:hover,
.nav-link:hover 
    {
        color: #f1c40f;  /* Cor do texto ao passar o mouse (amarelo) */
    }
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show 
    {
        color: #f1c40f;
    }
.navbar-brand
    {
        background-color: #ffffff;
        color: black;
        border-radius: 20px;
        padding: 5px 10px;
    }    